$montserrat: 'Montserrat', sans-serif;

// Small devices
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;


.container {
  font-family: $montserrat
}

// LOGIN E CADASTRO
 
.login-form {
  width: 450px;
  margin: 50px auto;
  font-family: $montserrat;
  font-weight: normal;
  margin-bottom: 15px;
  background: #F7F7F7;
  box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.3);
  padding: 30px;
}

.register-form {
  width: 500px;
  margin: 50px auto;
  font-family: $montserrat;
  margin-bottom: 15px;
  background: #F7F7F7;
  box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.3);
  padding: 30px;
}

.login-form h2 {
  margin: 0 0 15px;
}

.form-check {
  display: inline-block !important;
}

.lateral-links {
  font-size: 14px;
  margin: 0px 0px 20px 0px;
}

.check-box-remember {
  padding: 0px 0px 0px 5px;
}

.link-forgot {
  float: right;
}

.terms-service {
  font-size: 14px;
}

a.terms-service {
  color: #595959;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover {
  color: #8c8c8c;
}

.position-form {
  position: relative;
  margin-bottom: 1.5rem;
}

.form-control-placeholder {
  position: absolute;
  top: 0;
  padding: 7px 0 0 13px;
  transition: all 200ms;
  opacity: 0.5;
}

.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder {
  font-size: 80%;
  transform: translate3d(0, -100%, 0);
  opacity: 1;
}


// POSTS

#new-post ul {
  list-style: none;
  padding: 0px;
}

#new-post .container {
  margin-top: 30px;
}

.badge-info {
  font-size: 1em;
  margin-bottom: 5px;
}


@mixin sm {
   @media (min-width: #{$screen-sm-min}) {
       @content;
   }
}

// Medium devices
@mixin md {
   @media (min-width: #{$screen-md-min}) {
       @content;
   }
}

// Large devices
@mixin lg {
   @media (min-width: #{$screen-lg-min}) {
       @content;
   }
}

// Extra large devices
@mixin xl {
   @media (min-width: #{$screen-xl-min}) {
       @content;
   }
}