$montserrat: 'Montserrat', sans-serif;

:root, #profile-path {
  margin-top: 50px;
}

.container {
  font-family: $montserrat;
}

// NAVBAR

.navbar-dark .navbar-nav .nav-link, .navbar-brand {
  color: white;
  font-weight: bold;
}

.navbar-dark .navbar-nav .nav-link {
  font-size: 0.95em;
  margin-right: 5px;
}

.navbar-dark {
  padding: 10px 10px;
  background: #1B252F;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #9BF0E1;
}

.divisor {
  width: 1px;
  background: white;
  margin: 12px 15px;
}

.navbar-dark .navbar-toggler {
  border-color: rgba(255,255,255,0.5);
}

// SOBRE NÓS

.social-link {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
  background: #ddd;
  text-decoration: none;
  color: #555;
}

// LOGIN E CADASTRO

.login-form, .register-form {
  margin: 50px auto;
  font-weight: normal;
  margin-bottom: 15px;
  background: #F7F7F7;
  box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.3);
  padding: 30px;
}
 
.login-form {
  width: 450px;
}

.register-form {
  width: 500px;
}

.login-form h2 {
  margin: 0 0 15px;
}

.form-check {
  display: inline-block !important;
}

.lateral-links {
  font-size: 14px;
  margin: 0px 0px 20px 0px;
}

.check-box-remember {
  padding: 0px 0px 0px 5px;
}

.link-forgot {
  float: right;
}

.terms-service {
  font-size: 14px;
}

a.terms-service {
  color: #595959;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover {
  color: #8c8c8c;
}

.position-form {
  position: relative;
  margin-bottom: 1.5rem;
}

.form-control-placeholder {
  position: absolute;
  top: 0;
  padding: 7px 0 0 13px;
  transition: all 200ms;
  opacity: 0.5;
}

.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder {
  font-size: 80%;
  transform: translate3d(0, -100%, 0);
  opacity: 1;
}


// POSTS

#new-post ul {
  list-style: none;
  padding: 0px;
}

#new-post .container {
  margin-top: 30px;
}

.badge-info {
  font-size: 0.92em;
  margin-bottom: 5px;
}

.pagination {
  display: flex;
  justify-content: center;
}

.badge-info, .dropdown-options {
  background-color: #708090;
}

.card-body img, .image-show img {
  width:500px;
  height:auto;
  margin-bottom: 20px;
}

#new-post .btn-info {
  margin-bottom: 30px;
}

// PERFIL

.image-avatar{
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}



// Small devices
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

@mixin sm {
   @media (min-width: #{$screen-sm-min}) {
       @content;
   }
}

// Medium devices
@mixin md {
   @media (min-width: #{$screen-md-min}) {
       @content;
   }
}

// Large devices
@mixin lg {
   @media (min-width: #{$screen-lg-min}) {
       @content;
   }
}

// Extra large devices
@mixin xl {
   @media (min-width: #{$screen-xl-min}) {
       @content;
   }
}